<div class="list-header ">
    <div class="title-container">
        Mimic Diagram
    </div>
    <div class="sort-container">
        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange()" [style]="{'min-width':'140px'}"></p-dropdown> -->
    </div>
</div>
<svg class="logo" viewBox="0 0 210 297" version="1.1" id="svg5" inkscape:version="1.1 (c68e22c387, 2021-05-23)"
    sodipodi:docname="drawing.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">


    <defs id="defs2">
        <pattern id="EMFhbasepattern" patternUnits="userSpaceOnUse" width="6" height="6" x="0" y="0" />
    </defs>
    <g inkscape:groupmode="layer" id="layer3" inkscape:label="Layer 3">
        <path
            style="display:inline;fill:#666666;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 61.778208,22.189422 97.189744,6.768268 79.769554,7.053845 61.207054,15.906729 Z" id="path3121" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 79.769554,281.77885 72.915708,17.334614 69.77436,18.476922 77.199362,282.06441 Z" id="path3189" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 97.7609,262.93078 87.194553,10.766345 88.908016,9.909614 99.188785,262.35962 Z" id="path3224" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 94.704815,159.07852 41.598275,-2.62514 -0.20193,3.029 -40.99248,1.61547 z" id="path3311" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 94.099014,127.37498 40.790536,-3.23094 4.03867,106.41889 v 1.8174 h 1.61547 l -3.43287,-109.04402 -2.4232,-2.01933 -41.396339,4.64446 z"
            id="path3346" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 140.54369,232.38033 19.9914,-0.6058 -2.4232,-89.05262 -20.79914,0.80774 0.40387,2.01933 18.77981,-0.80773 2.4232,85.61975 -18.3222,0.37097 z"
            id="path3381" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 130.38806,231.33882 -1.71346,-32.0917 9.20985,-0.78534 -0.28557,-1.85625 -8.92428,0.71394 -0.57116,-22.06081 8.35313,-0.92813 -0.0714,-2.57019 -7.42499,0.49976 -0.58298,-12.12143 -2.77658,0.25241 v 0"
            id="path3418" />
        <path
            style="display:inline;fill:#333333;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 97.61811,216.38173 30.27115,-1.14231 0.14279,-1.57067 -30.842303,1.14231 z" id="path3662" />
        <path
            style="display:inline;fill:#ff5555;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 93.405851,263.07355 -8.138941,0.2142 0.07139,-2.57021 1.570672,-0.28557 v -2.99856 l 7.639185,-0.42836 -0.713944,2.35601 z"
            id="path3730" />
        <path
            style="display:inline;fill:#ffb380;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 74.12941,64.66899 88.051285,64.312017 87.194553,21.903845 82.768111,21.618268 81.268834,20.547355 h -1.927646 l -0.214183,-1.285097 -2.641586,1.213702 -3.426923,-0.356971 z"
            id="path80" />
        <path
            style="display:inline;fill:#87cdde;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 142.66399,224.9088 -2.01933,-76.93662 12.31793,0.50484 0.20194,1.91837 3.23093,-0.10097 v 3.73577 l -3.23093,-0.10097 0.70676,13.6305 3.3319,-0.10096 1.31257,57.24811 -2.7261,-0.10097 -0.10097,3.83673 h -7.16863 l -0.10097,-3.83673 z"
            id="path142" />
        <path
            style="display:inline;fill:#8080ff;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 132.31571,127.13894 0.99952,17.13462 -37.696156,2.14183 -1.52006,-19.04041 38.215886,-2.87755 z"
            id="path205" />
        <path
            style="display:inline;fill:#d42aff;stroke:#000000;stroke-width:0.303935px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 71.190178,273.88713 v 17.8349 l -31.08143,0.34972 -0.230511,-16.76474 -0.07722,-5.61636 30.158215,-0.6994 z"
            id="path269" sodipodi:nodetypes="ccccccc" />
        <text xml:space="preserve"
            style="font-style:normal;font-weight:normal;font-size:6.35px;line-height:1.25;font-family:sans-serif;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
            x="-290.1666" y="52.71151" id="text8498" transform="rotate(-90)">
            <tspan sodipodi:role="line" id="tspan8496" style="font-size:6.35px;stroke-width:0.264583" x="-290.1666"
                y="52.71151">
                <!-- plastic plant -->
                {{myClass.response.length>0?getSensorById([],501):''}}|{{myClass.response.length>0?getSensorStatus('s',501):''}}|
                {{myClass.response.length>0?getSensorStatus('t',501):''}}|{{myClass.response.length>0?getSensorStatus('u',501):''}}
                <a>
                    <path
                        style="display:inline;fill:red;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:2"
                        d="M12 19V6M5 12l7-7 7 7" />
                    
                </a>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"/></svg> -->
                <g>
                    <text class="c-tspan8496" x="0" y="0">&#xf040;</text>
                    
                    
                    <!-- <image width="500" *ngIf="getSensorStatus('s',501)=='active'" height="250" href="assets/inactiveBLE.png" /> -->

                </g>

                <use xlink:href="fa-brands.svg#github"></use>

                <!-- {{myClass.response.length>0 && myClass.response[6]?myClass.response[6].zone:''}} -->


            </tspan>
        </text>
        <text xml:space="preserve"
            style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
            x="-208.74088" y="153.27338" id="text16655" transform="rotate(-90)">
            <tspan sodipodi:role="line" id="tspan16653" style="font-size:7.05556px;stroke-width:0.264583" x="-208.74088"
                y="153.27338">
                <!-- ABD -->
                {{myClass.response.length>0?getSensorById([],503):''}}|{{myClass.response.length>0?getSensorStatus('s',503):''}}
                |{{myClass.response.length>0?getSensorStatus('t',503):''}}|{{myClass.response.length>0?getSensorStatus('u',503):''}}

            </tspan>
        </text>
        <text xml:space="preserve"
            style="font-size:7.05556px;line-height:1.25;font-family:sans-serif;display:inline;stroke-width:0.264583"
            x="-142.19133" y="117.52663" id="text30441" transform="rotate(-90)">
            <tspan sodipodi:role="line" id="tspan30439" style="stroke-width:0.264583" x="-142.19133" y="117.52663">
                <!-- IBD -->
                {{myClass.response.length>0?getSensorById([],506):''}}|{{myClass.response.length>0?getSensorStatus('s',506):''}}|
                {{myClass.response.length>0?getSensorStatus('t',506):''}}|{{myClass.response.length>0?getSensorStatus('u',506):''}}

            </tspan>
        </text>
        <text xml:space="preserve"
            style="font-size:7.05556px;line-height:1.25;font-family:sans-serif;display:inline;stroke-width:0.264583"
            x="-55.276627" y="84.228897" id="text31831" transform="rotate(-90)" inkscape:transform-center-x="-5.2502679"
            inkscape:transform-center-y="4.4425344">
            <tspan sodipodi:role="line" id="tspan31829" style="stroke-width:0.264583" x="-55.276627" y="84.228897">
                <!-- SMD -->
                {{myClass.response.length>0?getSensorById([],507):''}}-{{myClass.response.length>0?getSensorStatus('s',507):''}}
|{{myClass.response.length>0?getSensorStatus('t',507):''}}|{{myClass.response.length>0?getSensorStatus('u',507):''}}

            </tspan>
        </text>
        <text xml:space="preserve"
            style="font-size:7.05556px;line-height:1.25;font-family:sans-serif;display:inline;fill:#ff5555;fill-opacity:1;stroke-width:0.264583"
            x="-279.22009" y="103.01745" id="text35417" transform="rotate(-90)">
            <tspan sodipodi:role="line" id="tspan35415" style="fill:#ff5555;fill-opacity:1;stroke-width:0.264583"
                x="-279.22009" y="103.01745">Water
            </tspan>
            <tspan sodipodi:role="line" style="fill:#ff5555;fill-opacity:1;stroke-width:0.264583" x="-279.22009"
                y="111.8369" id="tspan35419">tank</tspan>
            <tspan sodipodi:role="line" style="fill:#ff5555;fill-opacity:1;stroke-width:0.264583" x="-279.22009"
                y="120.65635" id="tspan35421" />
        </text>
        <path
            style="display:inline;fill:#ffe680;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 101.46958,256.41041 -1.918363,-35.23738 25.140703,-1.71643 1.41353,36.54994 z" id="path44161" />
        <text xml:space="preserve"
            style="font-size:7.05556px;line-height:1.25;font-family:sans-serif;display:inline;stroke-width:0.264583"
            x="-251.37897" y="118.27544" id="text44946" transform="rotate(-90)">
            <tspan sodipodi:role="line" id="tspan44944" style="stroke-width:0.264583" x="-251.37897" y="118.27544">TWBD
            </tspan>
        </text>
        <path
            style="fill:#483e37;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 138.92822,232.38033 -8.58022,1.25659 -1.6734,-34.3898 v 0 l 2.22871,33.73351 8.02685,-1.81739 z"
            id="path46551" />
    </g>

</svg>