<div class="container-fluid pt-1">

    <!-- <p-dialog header="Title" [(visible)]="display">
        Content
    </p-dialog> -->
    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-6 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tleft-bdr bdr1">
                    <app-startup></app-startup>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-6 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tright-bdr bdr1">
                    <i class="fa fa-user"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"/></svg>
                    <!-- <app-startup></app-startup> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-6 panel ">
            <div class="row-fluid">
                <div class="col-md-12 card a-bleft-bdr bdr1">
                    <app-sensor-alert></app-sensor-alert>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-6 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-bright-bdr bdr1">
                    <!-- <app-startup></app-startup> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-7 pl-4 pr-4">
            <div class="row-fluid">

                <div class="col-md-12 card a-tleft-bdr">
                    <app-startup></app-startup>
                    <app-plot [chartType]="'scatter'" [plotlyData]="myClass.response"></app-plot>
                </div>
            </div>
        </div>
        <div class="col-md-5 pl-4 pr-4">
            <div class="row-fluid">

                <div class="bg-11 col-md-12 card a-tright-bdr">
                    <app-sensor-alert></app-sensor-alert>
                    <app-plotly-pie [chartType]="'bar'" [plotlyData]="myClass.response"></app-plotly-pie>

                </div>
            </div>

        </div>
    </div>


    <div class="row-fluid">
        <div class="col-md-12 card mt-3 mb-3">
            <app-files  [datafromparent]="myClass.response"></app-files>
        </div>
    </div>
</div>